<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.zh_seckill.dao.OrderDao">

    <select id="findById" resultType="com.zh.zh_seckill.entity.Order">
        select status from t_order where order_id = #{id}
    </select>

    <insert id="save">
        insert into t_order
        (order_id, goods_id, type, total_price, create_time, status, uid, num)
        values (#{orderId}, #{goodsId}, #{type}, #{totalPrice}, now(), #{status}, #{uid}, #{num})
    </insert>

    <update id="updateOrder">
        update t_order set status = #{status} where order_id = #{orderId}
    </update>

</mapper>
